body, html {
	width: 100%;
	overflow-x: hidden; 
	font-family: sans-serif;
	color: #848484;
}

/* Header */
header {
	background-color: #2E9AFE;
	min-height: 100px;
	padding: 25px;
}

header h1 {
	color: white;
}

/*
 * First exercise normal-flow
 */
.container > p {
	position: static;
} 
/*
 * Second  exercise relative-positioning
 */
.container > .relative-positioning {
	position: relative;
    left: 30px;
    top: 10px;
}
/*
 * Third  exercise absolute-postioning
 */
.absolute-positioning {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #2E9AFE;
}
/*
 * Fourth  exercise absolute-postioning
 */
.fixed-positioning {
	position: fixed;
	width: 500px;
	height: 50px;
	margin: 5% auto;
	left: 0;
	right: 0;
	background-color: #2E9AFE;
}