body {
	font-family: sans-serif;
	color: white;
	text-align: center;
}

.grid {
	background-color: #2E9AFE;
	margin: 10px;
}

.grid-4 {
	height: 100px;
}

.grid-12 {
	height: 200px;
}

/*
 * btn css
 */
.btn-container {
	text-align: center;
	margin: 20px;
}

.btn-container > a {
	text-decoration: none;
	color: white;
}
.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}